{{#if data.mensaje}}
<p>{{data.mensaje}}</p>

<img src="/imagenes/{{data.nombreArchivo}}" />
{{/if}}

<div class="container">
  <h2 class="text-center">Formulario de Equipo</h2>
</div>
<div class="container">
  <form class="row g-3 d-flex p-2" action="/form" method="POST" enctype="multipart/form-data">
    <div class="col-md-3">
      <label for="nombre" class="form-label">Nombre del Equipo</label>
      <input type="text" class="form-control" id="nombre" placeholder="Arsenal FC" required>
    </div>
    <div class="col-md-2">
      <label for="nombre-abreviado" class="form-label">Nombre Abreviado</label>
      <input type="text" class="form-control" id="nombre-abreviado" placeholder="Arsenal">
    </div>
    <div class="col-md-2">
      <label for="nombre-acronimo" class="form-label">Acronimo de tres letras</label>
      <input type="text" class="form-control" id="nombre-acronimo" placeholder="ARS" required>
    </div>
    <div class="col-md-5">
      <label for="input-email" class="form-label">Email</label>
      <input type="email" class="form-control" id="input-email" placeholder="arsenalTop16@gmail.com">
    </div>
    <div class="col-3">
      <label for="input-direccion" class="form-label">Pais</label>
      <input type="text" class="form-control" id="input-direccion" placeholder="Inglaterra" required>
    </div>
    <div class="col-3">
      <label for="input-telefono" class="form-label">Telefono</label>
      <input type="text" class="form-control" id="input-telefono" placeholder="+264123456">
    </div>
    <div class="col-6">
      <label for="input-pagina" class="form-label">Pagina web</label>
      <input type="text" class="form-control" id="input-pagina" placeholder="http://www.arsenal.com">
    </div>
    <div class="col-3">
      <label for="input-fundacion" class="form-label">Año de fundacion</label>
      <input type="text" class="form-control" id="input-fundacion" placeholder="1887">
    </div>
    <div class="col-2">
      <label for="input-primer-color" class="form-label">Color</label>
      <input type="text" class="form-control" id="input-colores" placeholder="Azul / Naranja">
    </div>
    <div class="col-7">
      <label for="input-estadio" class="form-label">Estadio</label>
      <input type="text" class="form-control" id="input-estadio" placeholder="El Monumental">
    </div>
    <div class="col-md-12">
      <input type="file" class="form-control" id="imagen-equipo" name="imagen" aria-describedby="inputGroupFileAddon04"
        aria-label="Upload">
    </div>
    <div class="col-6">
      <button type="submit" class="btn btn-primary align-self-end" id="boton-enviar" value="Subir">Enviar</button>
    </div>
    <div class="col-6 d-flex flex-row-reverse">
      <a href="/" class="btn btn-primary justify-content-end" id="boton-retroceder" value="retroceder">Retroceder</a>
    </div>
  </form>
</div>
<!-- enctype="multipart/form-data" es lo que nos permite subir un archivo al servidor 
    "id": 57,
    "area": {
      "id": 2072,
      "name": "England"
    },
    "name": "Arsenal FC",
    "shortName": "Arsenal",
    "tla": "ARS",
    "crestUrl": "https://upload.wikimedia.org/wikipedia/en/5/53/Arsenal_FC.svg",
    "address": "75 Drayton Park London N5 1BU",
    "phone": "+44 (020) 76195003",
    "website": "http://www.arsenal.com",
    "email": "info@arsenal.co.uk",
    "founded": 1886,
    "clubColors": "Red / White",
    "venue": "Emirates Stadium",
    "lastUpdated": "2020-05-14T02:41:34Z"
    <form action="/form" method="POST" enctype="multipart/form-data">
  <div class="input-group">

    <button class="btn btn-outline-secondary" type="button" id="button" value="Subir">Button</button>
  </div>

</form>
-->